.is-desktop #app {

  .header {
  }

  .page-content {
    max-width: 600px;
    margin: auto;

    .songs-list {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px;
    }
  }
}

.is-mobile #app {
}