body {
  background-color: #FAFAFA;
}

#app {
  .queue {
    background-color: #EAEAEA;
    padding: 0 1px;
  }
}

.is-desktop #app {

  .header {
  }

  .page-content {
    max-width: 600px;
    margin: auto;

    .songs-list {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px;
    }

  }
}

.is-mobile #app {
  // position: absolute;
  // top: 0;
  // bottom: 0;

  .page-content {
    // position: absolute;
    // top: 80%;

    .queue {
      // border-radius: 5px;
      // overflow: hidden;
      padding: 0;
    }
  }

}